---
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/utils";
import Card from "../components/Card.astro";
import Label from "../components/Label.astro";
import Section from "../components/Section.astro";
import SkillLayout from "../components/SkillLayout.astro";
import PageLayout from "../layouts/BaseLayout.astro";

const languages = ["JavaScript", "TypeScript", "PHP", "C++"];
const frontend = [
	"HTML",
	"CSS",
	"NextJs",
	"React",
	"Vue",
	"Astro",
	"TailwindCss",
];
const backend = ["Node.js", "Express.js", "Ruby on Rails"];
const databases = ["MongoDB", "PostgreSQL", "MySQL", "SQLite", "Turso"];
const others = [
	"GraphQL",
	"CI/CD",
	"Cypress",
	"StoryBook",
	"Docker",
	"Google Cloud",
];
const mobile = ["React Native"];

const MAX_POSTS = 3;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---
<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Alex Elgueta Rivas</h1>
				<a
					href='https://github.com/AlexElguetaDev'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>
					<p class='font-medium'>Open to work</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Software Engineer'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
							></path></svg
						>
					</Label>
					<Label title='Chile'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/alexelguetar/'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				👋 ¡Hola! Soy Alex, Ingeniero de Software de 27 años en Chile. Como CTO y cofundador, lidero el desarrollo de soluciones innovadoras que transforman cómo los especialistas conectan con clientes. Responsable de la arquitectura técnica, selección de tecnologías y gestión del equipo. Me apasiona programar, explorar Rust y crear plataformas escalables. Fuera del trabajo, valoro el equilibrio con mi familia y disfruto tanto del trabajo en equipo como de proyectos desafiantes.
			</p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			<Card
				heading='Portal de Especialistas'
				subheading='CTO & Co-Founder'
				date='Feb 2025 - Actualidad'
				imagePath='/src/assets/portal.png'
				altText='Portal de Especialistas'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lidero el desarrollo y la implementación de
						estrategias tecnológicas para nuestra plataforma.

						<li>
							Trabajo en estrecha colaboración con el equipo para diseñar una arquitectura de
							sistema escalable y eficiente.
						</li>
						<li>
							He sido fundamental en la selección de tecnologías y herramientas adecuadas para
							nuestro stack tecnológico.
						</li>
						<li>
							Además, participo activamente en el desarrollo de funcionalidades clave y en la
							optimización del rendimiento de la aplicación.
						</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lolocar'
				subheading='Software Engineer'
				date='Mar 2023 - Mar 2025'
				imagePath='/src/assets/lolocar.png'
				altText='Lolocar'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						En Lolocar, me especializo principalmente en el desarrollo de aplicaciones web y móviles
						con una perspectiva fullstack.

						<li>
							Me enfoco en mejorar la experiencia del usuario y la calidad del código en cada
							proyecto en el que participo.
						</li>
						<li>Contribuí al desarrollo de la aplicación de Lolocar.</li>
						<li>
							Creamos plugins personalizados adaptados a las necesidades específicas de nuestra
							landing en WordPress.
						</li>
						<li>Actualmente lidero la migración de Vue 2 a Next.js.</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Desafío Latam'
				subheading='Software Developer'
				date='Feb 2023 - May 2023'
				imagePath='/src/assets/desafiolatam.png'
				altText='Desafío Latam'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Durante mi tiempo aquí, además de contribuir en varios aspectos, mi experiencia más
						valiosa fue el aprendizaje que obtuve siendo mentorizado por Sebastián, un desarrollador
						senior con quien compartí tiempo las 24 horas del día.

						<li>Bueno, quizás exageré un poco, ¡pero sí pasamos unas 4 u 5 horas diarias! 😄</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='LarnU'
				subheading='Software Developer'
				date='May 2022 - Dic 2022'
				imagePath='/src/assets/larnu.png'
				altText='LarnU Aplication'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Con el auge de la inteligencia artificial, surgió la inspiración en Larnu para concebir
						un producto innovador llamado Quizify. Esta plataforma aprovechaba el poder del API de
						OpenAI para asistir a profesionales en la creación de encuestas variadas, segmentadas
						por tema, dificultad, idioma y otros criterios.

						<li>
							Lideré la construcción del backend y diseñé la estructura de datos para la integración
							con OpenAI.
						</li>
						<li>
							Participé activamente en el desarrollo del frontend, contribuyendo así a dar vida a
							esta emocionante iniciativa.
						</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Freelance'
				subheading='Software Independent Developer'
				date='Nov 2019 - Actualidad'
				imagePath='/src/assets/freelancer.png'
				altText='LarnU Aplication'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						He tenido el privilegio de crear múltiples landing pages para diversos clientes,
						utilizando diversas tecnologías como WordPress, React y Astro.

						<li>
							Cada proyecto ha sido una oportunidad emocionante para combinar creatividad y
							tecnología, brindando soluciones únicas y atractivas que destacan la identidad y el
							mensaje de cada cliente.
						</li>
					</li>
				</ul>
			</Card>
			
		</Section>

		<Section title='Education'>
			<Card
				heading='Universidad IACC'
				subheading='Ingeniería en Informática'
				date='Dic 2019 - Nov 2023'
				imagePath='/src/assets/universidadiacc.png'
				altText='Universidad IACC'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Durante mi carrera en la Universidad IACC, adquirí sólidos conocimientos en
						programación, desarrollo web y gestión de proyectos.

						<li>
							Participé activamente en proyectos grupales que me permitieron aplicar mis habilidades
							técnicas y trabajar en equipo para lograr objetivos comunes.
						</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='University of Helsinki'
				subheading='Full Stack Open 2022'
				date='Feb 2022 - Nov 2022'
				imagePath='/src/assets/universityofhelsinki.png'
				altText='University of Helsinki'
				imageClass='h-12 rounded-full w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Profundicé en el desarrollo web moderno basado en JavaScript.

						<li>
							Creé single page applications con ReactJS que utilizan API REST creadas con Node.js.
						</li>
					</li>
				</ul>
			</Card>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Mobile' skills={mobile} />
			<SkillLayout title='Databases' skills={databases} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
	<a
		href='https://wa.link/1rs2hb'
		class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
		</span>

		<p class='font-medium'>Contactame</p>
	</a>
</PageLayout>

<style>
	.profile {
		mask-image: linear-gradient(black 80%, transparent 100%);
	}
</style>
